.Header {
  position: relative;
  height: 70px;
  background-color: #514390;
  color: #bfffff;
  z-index: 2;
}
.logo {
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 18px;
  left: 62px;
  background: transparent;
}

.imageDiv {
  display: flex;
  position: absolute;
  top: 10px;
  right: 70px;
}
.imageSize {
  border-radius: 4px 4px 4px 4px;
}
.details {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .logo {
    color: #fff;
    font-size: 23px;
    top: 18px;
    left: 22px;
    /* width: 140px; */
    background: transparent;
  }
  .imageDiv {
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

@media only screen and (max-width: 450px) {
}
